<div class="header-Wrapper position-relative ">
  <div [class.Header]="!fixed" [class.Header2]="fixed">
    <div class="d-flex flex-auto ">
      <div class="px-3">
        <h2>Logo</h2>
      </div>
      <div class="px-3">
        <ul class="d-flex pl-2 flex-items-center text-bold list-style-none">
          <li>name</li>
          <li>surname</li>
          <li>surname</li>
          <li>surname</li>
          <li>surname</li>
        </ul>
      </div>
      <div class="px-3">
        <input type=text>
      </div>

      <div class="d-flex flex-auto" style="float:right ;padding-left: 35%;">
        <ul class=" d-flex pl-2 flex-items-center text-bold list-style-none d-right">
          <li>fgfgfg</li>
          <li style="padding-left:-5;">fgfgfg</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div [class.header-Panel]="!fixed" class="flex-items-center" [class.fixed]="fixed">
  <div class="flex-items-center text-bold">
    <h2 class="flex-items-center text-bold">Welcome back {{name}}</h2>
  </div>

</div>