<div class="row">
  <div class="col-6 col-xs-12">
    <h2>Add New Item</h2>
  </div>
</div>
<div class="container centerA">

  <div class="form">
    <div *ngIf="pageId==0">
      <form [formGroup]="setupForm">

        <label>Item Name:</label>
        <input type="text" formControlName="name">
        <p class="validate" *ngIf="formStatus.formErrors['name']">{{ formStatus.formErrors['name'] }}</p>

        <label>Item ibu:</label>
        <input type="number" formControlName="ibu">
        <p class="validate" *ngIf="formStatus.formErrors['ibu']">{{ formStatus.formErrors['ibu'] }}</p>

        <label>Item calories:</label>
        <input type="number" formControlName="calories">
        <p class="validate"*ngIf="formStatus.formErrors['calories'] " >{{ formStatus.formErrors['calories'] }}</p>

        <label>Item abv:</label>
        <input type="number" formControlName="abv">
        <p class="validate" *ngIf="formStatus.formErrors['abv'] ">{{ formStatus.formErrors['abv'] }}</p>

        <label>style:</label>
        <input type="text" formControlName="style">
        <p class="validate" *ngIf="formStatus.formErrors['style'] ">{{ formStatus.formErrors['style'] }}</p>

        <label>brewery location:</label>
        <input type="text" formControlName="brewery_location">
        <p class="validate"  *ngIf="formStatus.formErrors['brewery_location'] ">{{ formStatus.formErrors['brewery_location'] }}</p>

        <label>category:</label>
        <select (click)="keyUpEvent($event)" formControlName="category">
          <option style="display:none">select a category</option>
          <option *ngFor="let opt of DropdownOptions" value="{{opt.url}}">{{opt.url}}</option>
        </select>
        <p class="validate"*ngIf="formStatus.formErrors['category'] ">{{ formStatus.formErrors['category'] }}</p>

        <input (click)="submit()" type="submit" value="submit">
      </form>
    </div>
    <div *ngIf="pageId==1">
      <div class="addSuccess">
        <p>Item Added Successfully</p>
        <button (click)="close()">Close</button>
      </div>
    </div>

  </div>
</div>